// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}
$lysebla: #0092d4;
$orange: #f56a30;
$morkebla: #2a5faf;
$lysegra: #e4e2e2;
$morkegra: #3d3c3d;

#grid-container {
  display: grid;
  grid-template-columns: 8.4% 8.4% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3%8.3% 8.3% 8.4% 8.4%;
}

header {
  grid-column-start: 1;
  grid-column-end: 13;
  position: relative;
}
#billed_maske {
  height: 0;
  width: 0;
  z-index: 100;
  border-bottom: 100px solid white;
  border-left: 100vw solid transparent;
  position: absolute;
  bottom: 0;
}
#hvem_er_vi {
  padding-top: 20px;
  padding-bottom: 20px;
  grid-column-start: 1;
  grid-column-end: 13;

  p {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
#foto_strimmel {
  position: relative;
  width: 100vw;
}
#foto_maske_top {
  height: 0;
  width: 0;
  border-top: 100px solid white;
  border-right: 100vw solid transparent;
  position: absolute;
}
#foto_maske_bund {
  height: 0;
  width: 0;
  border-bottom: 100px solid white;
  border-left: 100vw solid transparent;
  position: absolute;
  bottom: 0;
}
#mod_os {
  padding-top: 20px;
  padding-bottom: 20px;
  grid-column-start: 1;
  grid-column-end: 13;

  p {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
#gra_and_hvid {
  position: relative;
  width: 100vw;
  height: 100px;
}
#gra_maske {
  position: absolute;
  border-top: 100px solid white;
  border-right: 100vw solid transparent;
  bottom: 0;
  background-color: $morkegra;
}
#partnere {
  background-color: $morkegra;
  grid-column-start: 1;
  grid-column-end: 13;
  height: 100px;
}
footer {
  position: relative;
  height: 100px;
}
#footer_mask {
  position: absolute;
  border-bottom: 100px solid white;
  border-left: 100vw solid transparent;
  bottom: 0;
  background-color: $morkegra;
}
@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}